@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}


main {
    position: relative;
    height: 100vh;
}

#celular {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 630px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#redes-sociais {
    position: absolute;
    top: 3%;
    left: 85%;

    height: 800px;
    width: 100px;
}

#redes-sociais img {
    margin: 10px;
    border: 2px solid black;
    border-radius: 50%;
    max-width: 90px;
    max-height: 90px;
}

#redes-sociais img:hover {
    border: 3px solid white;
    transform: translate(-5%, -5%);
    transition: transform 0.5s;
}

#tela {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 470px;
    width: 267px;
}